<!-- <div vkRichtext [(ngModel)]="value"></div> -->
    <vk-scroll [height]="'300px'"(scrollStart)="onScrollStart($event)" (scrollEnd)="onScrollEnd($event)">
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
        <h1>asdasdasdasd</h1>
    </vk-scroll>
